/* src/pages/SignUp.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 30%;
  max-width: 400px;
  min-width: 300px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(249, 219, 186, 0.5);
  transform: scale(1.02);
}

.signup-button {
  background-color: #00ff99;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
}

.signup-button:hover {
  background-color: #00ff99;
  transform: scale(1.05);
}

.footer {
  margin-top: 20px;
  color: white;
}

.footer a {
  color: #00ff99;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .signup-container {
    width: 80%;
  }
}
