/* App.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0b192c;
  font-family: "Arial", sans-serif;
  color: white;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.content-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
